---
layout: default
title: Projects
permalink: /projects/
sitemap:
  priority: 0.5
  changefreq: 'monthly'
---

<main class="content" role="main">
  <article class="post" itemscope itemtype="http://schema.org/Article">
    <div class="no-article-image">
      <div class="post-meta">
        <h1 class="post-title">{{ page.title }}</h1>
        <div class="cf post-meta-text">
          <div class="author-image" style="background-image: url({{ page.author_image }})">Blog Logo</div>
          <h4 class="author-name" itemprop="author" itemscope itemtype="http://schema.org/Person">{{ page.author }}</h4>
        </div>
      </div>
    </div>
    <section class="post-content cards">
      {% for item in site.data.projects %}
      {% include card.html %}
      {% endfor %}
    </section>
  </article>
</main>
