version: '2'
services:
  ruby: &defaults
    build: .
    volumes:
      - .:/usr/src/app

  jekyll:
    <<: *defaults
    command: ["jekyll serve -H 0.0.0.0"]
    environment:
      - JEKYLL_GITHUB_TOKEN
    ports:
      - "4000:4000"

  test:
    <<: *defaults
    command: ["htmlproofer ./_site --check-favicon --check-html --disable-external"]

  travis:
    image: tomasbasham/travis:1.8.8
    volumes:
      - travis-data:/root/.travis
      - .:/usr/src/app

volumes:
  travis-data:
    external: true
