---
layout: default
sitemap:
  priority: 1
  changefreq: 'weekly'
---
<div class="teaserimage">
  <div class="teaserimage-image" {% if site.cover %}style="background-image: url({{ site.cover }})"{% endif %}>
    {{ site.title }}
  </div>
</div>

<header class="blog-header">
  {% if site.github.owner_gravatar_url %}
  <a class="blog-logo" href="{{ site.url }}" style="background-image: url('{{ site.github.owner_gravatar_url }}')">{{ site.title }}</a>
  {% endif %}

  <h1 class="blog-title">{{ site.title }}</h1>
  <h2 class="blog-description">{{ site.description }}</h2>
  <div class="custom-links">
    <a href="/">Blog</a>
    &nbsp;&nbsp;·&nbsp;&nbsp;
    <a href="/about">About</a>
    &nbsp;&nbsp;·&nbsp;&nbsp;
    <a href="https://github.com/tomasbasham?tab=repositories&type=source">Projects</a>
  </div>
</header>

<main class="content" role="main">
  {% if site.tags.featured %}
  <h5 class="index-headline featured">
    <span>Featured</span>
  </h5>

  <div class="container featured">
    {% for post in site.tags.featured %}
    {% include post.html %}
    {% endfor %}
  </div>
  {% endif %}

  <h5 class="index-headline normal">
    <span>Articles</span>
  </h5>

  <div class="clearfix frame">
    {% for post in paginator.posts %}
    {% include post.html %}
    {% endfor %}
  </div>
  {% include pagination.html %}
</main>
