<footer class="bottom-teaser clearfix">
  <div class="is-left">
    <h5 class="index-headline featured">
      <span>Written by</span>
    </h5>
    <section class="author">
      {% assign author = site.data.authors[page.author] %}
      <div class="author-image" style="background-image: url({{ site.github.owner_gravatar_url }})">Blog Logo</div>
      <h4>{{ author.name }}</h4>
      <p class="bio">{{ author.bio }}</p>
    </section>
  </div>
  <div class="is-right">
    <h5 class="index-headline featured">
      <span>Tags</span>
    </h5>
    {% include tags.html %}
  </div>
</footer>
