/**
 * Syntax highlighting styles
 * thankful_eyes
 */

.highlight {
  @extend %vertical-rhythm;

  background-color: #122b3b;
  color: #faf6e4;

  table {
    td {
      padding: 5px;
    }

    pre {
      margin: 0;
    }
  }

  .gl {
    background-color: #4e5d62;
    color: #dee5e7;
  }

  .c, .cd, .cm, .c1, .cs {
    color: #6c8b9f;
    font-style: italic;
  }

  .cp {
    color: #b2fd6d;
    font-style: italic;
    font-weight: bold;
  }

  .err, .gr {
    background-color: #cc0000;
    color: #fefeec;
  }

  .k, .kd, .kv {
    color: #f6dd62;
    font-weight: bold;
  }

  .o, .ow, .p, .pi {
    color: #4df4ff;
  }

  .gd {
    color: #cc0000;
  }

  .gi {
    color: #b2fd6d;
  }

  .ge {
    font-style: italic;
  }

  .gs {
    font-weight: bold;
  }

  .gt {
    color: #dee5e7;
    background-color: #4e5d62;
  }

  .kc {
    color: #f696db;
    font-weight: bold;
  }

  .kn, .kp, .kr, .gh, .gu {
    color: #ffb000;
    font-weight: bold;
  }

  .kt, .no, .nc, .nd, .nn, .bp, .ne {
    color: #b2fd6d;
    font-weight: bold;
  }

  .nl, .nt {
    color: #ffb000;
    font-weight: bold;
  }

  .m, .mf, .mh, .mi, .il, .mo, .mb, .mx, .ld, .ss {
    color: #f696db;
    font-weight: bold;
  }

  .s, .sb, .sd, .s2, .sh, .sx, .sr, .s1 {
    color: #fff0a6;
    font-weight: bold;
  }

  .se, .sc, .si {
    color: #4df4ff;
    font-weight: bold;
  }

  .nb {
    font-weight: bold;
  }

  .ni {
    color: #999999;
    font-weight: bold;
  }

  .w {
    color: #BBBBBB;
  }

  .nf, .py, .na {
    color: #a8e1fe;
  }

  .nv, .vc, .vg, .vi {
    color: #a8e1fe;
    font-weight: bold;
  }
}
