$rs: 16px;

$font-serif: Linux Libertine;
$font-sans: Open Sans, MundoSans, 'Helvetica Neue', Arial, Helvetica, sans-serif;
$font-color: #666665;
$background-color: #f5f5f1;
$border-color: #ccccc8;
$mute-color: #999999;
$link-color: #333333;
